@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Monserrat;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1e293b;
    background: linear-gradient(0deg, rgba(17, 25, 40, 0.85), rgba(17, 25, 40, 0.85)), url(try.jpg);
    background-size: contain;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}